<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 인터넷 사용권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- wearOS -->
    <uses-feature android:name="android.hardware.type.watch" />
    <!-- WAKE_LOCK -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 음성인식 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/readygreen"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        android:networkSecurityConfig="@xml/network_security_config">

        <service
            android:name=".complication.MainComplicationService"
            android:exported="true"
            android:label="@string/complication_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".tile.MainTileService"
            android:exported="true"
            android:label="@string/tile_label"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/splash_icon" />
        </service>

        <service
            android:name=".core.service.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Google Wear 라이브러리 사용 -->
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!-- 핸드폰 없이 독립적으로 실행 가능 -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <!-- Google Map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <!-- MainActivity 설정 -->
        <activity
            android:name=".presentation.activity.MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
